* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 /*start of primary button*/
 .primary{
  align-items: flex-end;
  background-color: #6E6AE3;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  margin: 0px 140px 0px 50px;
  padding: 14px 40px 14px 40px;
  transition: 0.4s;
  width: 160px;
}

.primary:hover{
  background-color: #8783F3;
}

.primary-cafe {
  align-items: flex-end;
  background-color: #6E6AE3;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  margin: 0px 35px 0px 50px;
  padding: 14px 40px 14px 40px;
  transition: 0.4s;
  width: 160px;
}

.primary-cafe:hover{
  background-color: #8783F3;
}
  /*end of primary button*/

/*start of secondary long button*/
.secondary-long{
  background-color: #FFFFFF;
  border: solid 3px #6E6AE3;
  border-radius: 25px;
  color: #6E6AE3;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 10px 40px 10px 40px;
  transition: 0.4s;
  width: 230px;
}

.secondary-long:hover{
  background-color: #6E6AE3;
  color: #FFFFFF;
}
/*end of secondary long button*/

  /*start of standard text*/

  h2{
    color: #1D1D1D;
    font-family: 'Heebo', sans-serif;
    font-size: 48px;
    font-weight: 700;
  }

  h3{
    color: #1D1D1D;
    font-family: 'Heebo', sans-serif;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 15px;
  }

  h4{
    color: #232929;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 500;
  }

  h5 {
    color: #1D1D1D;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 24px; 
  }

  p{
    color: #1D1D1D;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }

  /*end of standard text*/

  /*start of styled text*/
  .contact-subtext {
    color: #1D1D1D;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 10px; 
  }

  .contact-text{
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    font-size: 32px;
    font-weight: 500;
  }

  .header-subtext
  {
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 0;
    text-shadow: 0px 3px 4px #2b2b2b;
  }
  .header-title-text{
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 3px 8px #2b2b2b;
  }

  .services-text-title{
    color: #232929;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 25px;
  }
/*end of styled text*/

/*start of navbar*/
.subheader-nav{
  background-color: transparent;
  /* border-bottom: 1px solid #d3d3d3; */
  height: auto;
  text-align: right;
  width: 100%;
  padding: 20px 0px 20px 0px;
  position: absolute;
}

.contact-nav{
  background-color: #FFFFFF;
  box-shadow: 0px 0px 16px #D6D6D6;
  height: auto;
  text-align: right;
  width: 100%;
  padding: 20px 0px 20px 0px;
}


nav img{
  float: left;
  height: 60px;
  margin-left: 140px;
}

.nav-links{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #6E6AE3;
}

.nav-contact{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
}

.nav-contact li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-contact li a {
  color: #1D1D1D;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-contact li a:hover {
  color: #6E6AE3;
}
/*end of navbar*/

/*start of subheader*/

.header-bar {
    background-color: #ffffff;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    height: 50px;
    position: absolute;
    top: 250px;
    width: 100%;
}

.header-container {
  max-height: 300px;
}

.header-image {
    max-width: 100%;
    height: auto;
}

.subheader-img {
color: #E48585;
}

.text-header-container {
  left: 50%;
  padding-bottom: 280px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}


/*end of subheader*/

/*start of services cards*/

.button-container {
 text-align: center;
 padding-bottom: 80px;
 padding-left: 95px;
}

.servicebox {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 3px 6px #D6D6D6;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-top: 70px;
  padding: 20px;
  width: 240px;

}
.services-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

/*start of service icons styling*/
.services-icon-a {
  margin-bottom: 25px;
  margin-top: 20px;
}

.services-icon-b {
  margin-bottom: 20px;
  margin-top: 20px;
}

.services-icon-c {
  margin-bottom: 30px;
  margin-top: 20px;
}

.services-icon-d {
  margin-bottom: 21px;
  margin-top: 20px;
}

.services-icon-e {
  margin-bottom: 21px;
  margin-top: 20px;
}
/*end of service icons styling*/

.text-container {
  text-align: center;
  }

/*end of services cards*/

/*start of catering info*/
.catering-info {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  width: 240px;

}
.arrow-icon {
 margin-top: 12px;
}

.catering-icon {
  height: 80px;
  margin-bottom: 8px;
  margin-top: 20px;
  width: auto;
}

.catering-info-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.readmore-container {
  padding-bottom: 80px;
  text-align: center;
 }

 .readmore-container a {
  padding-bottom: 80px;
  text-align: center;
  text-decoration-line: none;
 }
 
/*end of catering info*/

/*start of menus*/
.flowers1 {
  height: 650px;
  left: 50%;
  margin-top: 35px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flowers2 {
  height: 670px;
  left: 30%;
  margin-top: 35px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.food1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.food-image-container 
  {
  width: 50%;
  height: 700px;
}

.menu1 {
  display: flex;
  flex-direction:row;
  height: 700px;
  width: 100%;
}

#menu-container {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  height: auto;
  width: 33px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.menu-icon2 {
  height: auto;
  width: 33px;
  padding-bottom: 15px;
  padding-top: 15px;
}


.menu-text-container 
  {
  height: 700px;
  width: 50%;
  text-align:center;
}

.menu-text-wrapper {
  height: 700px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  transform: translate(25%, -100%);
}

.menu-text-wrapper2 {
  height: 700px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  transform: translate(25%,-102%);
}

.menu-text-wrapper3 {
  height: 700px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  transform: translate(33.5%, -100%);
}

.menu-top {
  margin-bottom: 20px;
}
/*end of menus*/

/*start of contact page*/
.contact1{
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  height: 700px;
  justify-content: space-between;
  margin: 50px;
  width: auto;
}

.contact-fields-container {
  margin: 30px;
  text-align: center;
}

.contact-field {
  margin-bottom: 25px;
  text-align: left;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  margin-left: 50px;
  /* text-align: center; */
  width: 50%;
}

.contact-img  {
  height: 100%;
  width: 100%;
}

.contact-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 700px;
  width: 50%;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
}

.contact-icon {
  height: auto;
  width: 50px;
}

.contact-icon2 {
  height: auto;
  width: 50px;
}

.contact-icon3 {
  height: auto;
  width: 45px;
}
.contact-subtitles {
  text-align: center;

}

.contact-text {
  padding-left: 40px;
}

.input-field {
  border: 1px solid #b6b6b6;
  border-radius: 25px;
  height: 45px;
  padding-left: 18px;
  width: 90%;
}

.input-field-message {
  border: 1px solid #b6b6b6;
  border-radius: 25px;
  padding-bottom: 200px;
  padding-left: 18px;
  padding-top: 20px;
  width: 90%;
}

/*end of contact page*/

/*start of cafe page*/

/*start of café info*/
.cafe-button-container {
  margin-left: 86px;
  margin-top: 50px;
  margin-bottom: 70px;
}

.cafe-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cafe-text-container {
  margin-left: 140px;
  width: 675px;
  }

.facility-container {
   display: flex;
   flex-direction: column;
   height: 250px;
   justify-content: space-between;
   margin-top: 50px;
   width: 500px;
 }

.facility {
  display: flex;
  flex-direction: row;
}

.facility-icon {
  margin-right: 20px;
}

.facility-icon2 {
  height: 32px;
  padding-left: 2px;
  padding-right: 26px;
}

.facility-icon3 {
  height: 30px;
  padding-left: 2px;
  padding-right: 24.5px;
}

.facility-icon4 {
  height: 35px;
  padding-left: 2px;
  padding-right: 24px;
}

#icon-text4 {
  padding-top: 5px;
}
/*end of café info*/

/*start of subnav*/
.subnav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 140px;
}
.tab {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: 'heebo', 'Sans-serif';
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 100px;
}

.tab:hover{
  color: #6E6AE3;
}

#tab1 {
  color: #6E6AE3;
  border-bottom: solid 5px #6E6AE3;
}

#tab2 {
  border-bottom: solid 5px #DEE1E0;
}

#tab3 {
  border-bottom: solid 5px #DEE1E0;
}

/*end of subnav*/

.visuals-container {
  display: block;
  text-align: center;
}

/*start of image gallery*/
.images-container {
  display: flex;
  flex-direction: row;
  height: 550px;
  justify-content: center;
  margin-bottom: 100px;
  text-align: center;
  width: auto;
}

.images-container-mini {
  display: flex;
  flex-direction: column;
  height: 550px;
  width: auto;
}

.images-container-mini2 {
  display: flex;
  flex-direction: row;
}

.img1 {
  border: solid 10px #FFFFFF;
  height: 547px;
  object-fit: contain;
  width: auto;
}

.img2 {
  border: solid 10px #FFFFFF;
  height: 350px;
  object-fit: contain;
  width: auto;
}

.img3 {
  border: solid 10px #FFFFFF;
  height: 197px;
  object-fit: contain;
  width: auto;
}

.img4 {
  height: 550px;
  width: auto;
}

.img5 {
  height: 500px;
  width: auto;
}
/*end of image gallery*/

/*start of map block*/
.map-container {
  display: none;
  justify-content: center;
  margin-bottom: 100px;
}
/*end of map block*/

/*start of 3D block*/
.room-container {
  display: none;
  justify-content: center;
  margin-bottom: 100px;
}
/*end of 3D block*/

/*end of cafe page*/


/*start of footer*/
.gradient-line{
  background: linear-gradient(150deg, #F5A351 0%, #E48585 35%, #6E6AE3 100%);
  height: 10px;
  margin-bottom: 60px;
  width: 100%;
}

footer{
  background-color: #EFEFEF;
  bottom: 0;
  height: auto;
  width: 100%;
}

.yellow{
  background-color: #F5A351;
  border-color: #F5A351;
  border-style: solid;
  height: 3px;
  width: 40px;
}

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.footer-alignleft{
  display: flex;
}

/*first column*/
.footer-col1{
  padding-left: 140px;
  width: 30%;
}

/*secound column*/
.footer-col2{
  width: 20%;
}

.footer-links{
  list-style: none;
}

.footer-links li a{
  color: #232929;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  text-decoration: none;
}

.footer-links li a:hover{
  color: #6E6AE3;
  transition: 0.3s;
}

/*third column*/
.footer-col3{
  margin-left: 150px;
  width: auto;
}

.footer-col3 a{
  color: #232929;
  text-decoration: none;
}

.footer-col3 a:hover{
  color: #6E6AE3;
  text-decoration: none;
}

/*fourth column*/
.footer-col4{
  float: right;
  width: 30%;
}

.footer-col4 .coworking-plus-logo{
  float: right;
  padding-right: 140px;
  margin-right: auto;
}

/*bottom row*/
.baseline{
  align-items: center;
  background-color: #BFBFBF;
  border-color: #BFBFBF;
  border-style: solid;
  margin: 60px auto 20px auto;
  width: 95%;
}

.bottom-text{
  margin: 0px 140px 20px 140px;
}

.bottom-text img{
  margin: 0px 5px 0px 5px;
}
/*end of footer*/
