* {
  margin: 0;
  padding: 0;
}


@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700&display=swap');
h1{
  font-family: 'Heebo', sans-serif;
  font-size: 68px;
  font-weight: 700;
}

h2{
  font-family: 'Heebo', sans-serif;
  font-size: 48px;
  font-weight: 700;
}

h3{
  font-family: 'Heebo', sans-serif;
  font-size: 32px;
  font-weight: 500;
}

h4{
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  font-weight: 700;
}

h5{
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  font-weight: 400;
}

p {
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

/*start of primary button*/
.primary{
  background-color: #6E6AE3;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 14px 40px 14px 40px;
  transition: 0.4s;
  width: 160px;
}

.primary:hover{
  background-color: #8783F3;
}
/*end of primary button*/

/*start of primary long button*/
.primary-long{
  background-color: #6E6AE3;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 14px 40px 14px 40px;
  transition: 0.4s;
  width: 230px;
}

.primary-long:hover{
  background-color: #8783F3;
}
/*end of primary long button*/

/*start of secondary long button*/
.secondary-long{
  background-color: #FFFFFF;
  border: solid 3px #6E6AE3;
  border-radius: 25px;
  color: #6E6AE3;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 10px 40px 10px 40px;
  transition: 0.4s;
  width: 230px;
}

.secondary-long:hover{
  background-color: #6E6AE3;
  color: #FFFFFF;
}
/*end of secondary long button*/

/*start of tertiary button*/
.tertiary{
  background-color: transparent;
  border: solid 3px #FFFFFF;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  padding: 10px 20px 10px 20px;
  transition: 0.4s;
  width: 160px;
}

.tertiary:hover{
  background-color: #FFFFFF;
  color: #816869;
}
/*end of tertiary button*/

/*start of tertiary 2 button*/
.tertiary2 {
  background-color: transparent;
  border: none;
  color: #6E6AE3;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.tertiary2 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.2s;
}

.tertiary2 span:after {
  content: url(ikoner/hover/right-arrow.svg);
  position: absolute;
  opacity: 0;
  transition: 0.2s;
}

.tertiary2:hover span {
  padding-right: 40px;
}

.tertiary2:hover span:after {
  opacity: 1;
  right: 0;
  padding: 0px 0px 0px 10px;
}
/*end of tertiary 2 button*/

/*start global code*/
/*start navigation*/
@media only screen and (max-width:1400px) {
  /*.nav-links{
    display: none;
  }*/
}


nav{
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  height: auto;
  text-align: right;
  padding: 20px 0px 20px 0px;
  position: absolute;
  width: 100%;
  z-index: 9999;
}

nav img{
  float: left;
  height: 60px;
  margin-left: 140px;
}

.nav-links{
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 700;
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  color: #FFFFFF;
  text-decoration: none;
  transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
  color: #6E6AE3;
}
  /*start of primary button*/
.nav-primary{
  align-items: flex-end;
  background-color: #6E6AE3;
  border: none;
  border-radius: 25px;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 50px;
  margin: 0px 140px 0px 50px;
  padding: 14px 40px 14px 40px;
  transition: 0.4s;
  width: 160px;
}

.primary:hover{
  background-color: #8783F3;
}
  /*end of primary button*/
  /*end of navigation*/




/*Start of subheader*/
@media only screen and (max-height: 850px) {
  .subheader-bar{
    margin-top: 10%;
  }

  .subheader-img{
    padding-bottom: 10%;
  }

}

.subheader-img {
  background-image: linear-gradient(150deg, rgba(245, 163, 81, 0.4), rgba(217, 82, 82, 0.4), rgba(110, 106, 227, 0.4)), url("img/hero-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 40%;
  margin: 0;
  position: relative;
}

.subheader-overlay{
  color: #FFFFFF;
  height: auto;
  padding: 150px 0px 70px 0px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.subheader-bar{
  background-color: #ffffff;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  height: 100px;
  position: absolute;
  top: 36%;
  width: 100%;
}

.section-title{
  margin: 0px 0px 100px 0px;
  text-align: center;
}
  /*end of subheader*/



  /*start of footer*/
  .gradient-line{
    background: linear-gradient(150deg, #F5A351 0%, #E48585 35%, #6E6AE3 100%);
    height: 10px;
    margin-bottom: 60px;
    width: 100%;
  }

  footer{
    background-color: #EFEFEF;
    height: auto;
    width: 100%;
  }

  .yellow{
    background-color: #F5A351;
    border-color: #F5A351;
    border-style: solid;
    height: 3px;
    width: 40px;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
  }

  .footer-alignleft{
    display: flex;
    margin-right: auto;
    width: 30%;
  }

  /*first column*/
  .footer-col1{
    padding-left: 140px;
    width: 20%;
  }

  .footer-logo{
    height: 100px;
    margin-bottom: 20px;
    width: auto;
  }

  /*secound column*/
  .footer-col2{
    margin-left: 50px;
    width: 20%;
  }

  .footer-links{
    list-style: none;
  }

  .footer-links li a{
    color: #232929;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
  }

  .footer-links li a:hover{
    color: #6E6AE3;
    transition: 0.3s;
  }

  /*third column*/
  .footer-col3{
    margin-left: 150px;
    width: auto;
  }

  .footer-col3 a{
    color: #232929;
    text-decoration: none;
  }

  .footer-col3 a:hover{
    color: #6E6AE3;
    text-decoration: none;
  }

  /*fourth column*/
  .footer-col4{
    float: right;
    width: 30%;
  }

  .footer-col4 .coworking-plus-logo{
    float: right;
    padding-right: 140px;
    margin-right: auto;
  }

  /*bottom row*/
  .baseline{
    align-items: center;
    background-color: #BFBFBF;
    border-color: #BFBFBF;
    border-style: solid;
    margin: 60px auto 20px auto;
    width: 95%;
  }

  .bottom-text{
    margin: 0px 140px 20px 140px;
  }

  .bottom-text img{
    margin: 0px 5px 0px 5px;
  }
  /*end of footer*/
/*end of gobal code*/


/*-----------------------------------------------------------------*/


/*start of index page*/
/*start of hero section*/
body, html {
  height: 100%;
}

.hero-section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 99%;
  margin: 0;
  position: relative;
}

.hero-video {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  margin: 0;
  object-fit: cover;
  position: absolute;
  width: 100%;
}

.hero-overlay{
  background: rgba(35, 41, 41, 0.5);
  color: #FFFFFF;
  height: 99%;
  padding: 0px 140px 0px 140px;
  position: absolute;
  text-shadow: rgba(35, 41, 41, 0.2);
  width: 30%;
}

.hero-overlay button{
  margin: 50px 35px 0px 0px;
}

.hero-overlay-text{
  padding-top: 180px;
}

/*scroll down*/
@media only screen and (max-width: 1500px) {
  .hero-readmore-container {
    display: none;
   }
}

.hero-readmore-container {
  color: #FFFFFF;
  left: 0;
  padding-bottom: 80px;
  position: absolute;
  right: 0;
  text-align: center;
  top: 78%;
  z-index: 9999;
 }

 .hero-readmore-container a{
   color: #FFFFFF;
   text-decoration: none;
 }
/*end of hero section*/



/*start of service section*/
.header-bar{
  background-color: #FFFFFF;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  height: 100px;
  position: absolute;
  top: 90%;
  width: 100%;
}

.section-title{
  margin: 100px 0px 100px 0px;
  text-align: center;
}

/*start of service cards*/
.main-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 140px 100px 140px;
}

.service-card {
  background: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.2);
  box-sizing: border-box;
  float: right;
  margin: 20px;
  height: 190px;
  width: 430px
}

.service-icon{
  background: linear-gradient(150deg, #F5A351 0%, #E48585 35%, #6E6AE3 100%);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  float:left;
  height: 190px;
  width: 170px;
}

#video-icon{
  padding-top: 73px;
}

.service-icon img{
  display: block;
  padding-top: 60px;
  margin: auto;
}

.text-right{
  padding: 28px 30px 30px 210px;
}

.text-right button{
  padding-top: 25px;
}
/*end of service cards*/
/*end of service section*/



/*start of facility section*/
.title {
  padding: 100px 40px 0px 180px;

/*Start of facility icons*/
}
.column {
  color: #6E6AE3;
  column-gap: 70px;
  display: flex;
  float: right;
  flex-wrap: wrap;
  padding: 100px 100px 100px 100px;
  text-align: center;
  }

.facility-container {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: row;
}

.people-icon {
  height: 70px;
  width: 70px;
}

.shoppingbag-icon {
  height: 70px;
  width: 70px;
}

.building-icon {
  height: 70px;
  width: 70px;
}

.parking-icon {
  height: 70px;
  width: 70px;
}

/*Start of flowers*/
.flower-top{
  display: flex;
  height: 200px;
  right: 0;
  padding: 0px 0px 0px 0px;
  position: absolute;
  width: 200px;
}

.flower-down{
  display: flex;
  height: 200px;
  width: 200px;
  padding: 60px 0px 140px 0px;
  position: absolute;
}
/*End of flowers*/
/*end of facility section*/



/*start of testimonial sections*/
.testimonial-section{
  height: auto;
}

.testimonial-section h3{
  padding-top: 100px;
  text-align: center;
}

.testimonial-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.testimonial-card{
  color: #6E6AE3;
  margin: 60px 30px 100px 30px;
}

.testimonial-card h4{
  margin: 20px 0px 20px 0px;
}
/*end of testimonial sections*/

/*start of map section*/
.map-section{
  background-color: #F5F5F5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.map-section button{
 background-color: #F5F5F5;
 margin-top: 35px;
}

.map-textbox{
  padding: 170px 0px 170px 140px;
  width: auto;
}

.google-maps{
  float: right;
  width: 50%;
}
/*end of map section*/
/*end of index page*/


/*-----------------------------------------------------------------*/

/*start of cafeen page*/
/*start of café info*/
.cafe-button-container {
  margin: 50px 0px 70px 140px;
}

.cafe-button-container button {
  margin-right: 35px;
}

.cafe-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cafe-text-container {
  margin: 70px 70px 0px 140px;
  width: 40%;
  }

.facility-container2 {
  border-left: #D3D4D4 solid 1px;
  display: flex;
  flex-direction: column;
  float: left;
  height: 250px;
  justify-content: space-between;
  margin: 70px 140px 0px 0px;
  padding-left: 100px;
  width: 30%;
 }

.facility {
  display: flex;
  flex-direction: row;
}

.facility-icon {
  margin-right: 20px;
}

.facility-icon2 {
  height: 32px;
  padding-left: 2px;
  padding-right: 26px;
}

.facility-icon3 {
  height: 30px;
  padding-left: 2px;
  padding-right: 24.5px;
}

.facility-icon4 {
  height: 35px;
  padding-left: 2px;
  padding-right: 24px;
}

#icon-text4 {
  padding-top: 5px;
}
/*end of café info*/


/*start of subnav*/
.subnav {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-left: 140px;
}
.tab {
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
  font-family: 'heebo', 'Sans-serif';
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  width: 100px;
}

.tab:hover{
  color: #6E6AE3;
}

#tab1 {
  color: #6E6AE3;
  border-bottom: solid 5px #6E6AE3;
}

#tab2 {
  border-bottom: solid 5px #DEE1E0;
}

#tab3 {
  border-bottom: solid 5px #DEE1E0;
}
/*end of subnav*/

.visuals-container {
  display: block;
  height: 700px;
  text-align: center;
}

/*start of image gallery*/
.images-container {
  display: flex;
  flex-direction: row;
  height: 550px;
  margin-bottom: 100px;
  margin-left: 130px;
  width: 80%;
}

.images-container-mini {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 80%;
}

.images-container-mini2 {
  display: flex;
  flex-direction: row;
  height: 225px;
  object-fit: fill;
  width: 100%;
}

.img1 {
  border: solid 10px #FFFFFF;
  height: 600px;
  width: 100%;
}

.img2 {
  border: solid 10px #FFFFFF;
  height: 375px;
  object-fit: fill;
  width: 100%;
}

.img3 {
  height: 210px;
  margin: 10px;
  width: 100%;
}

.img33 {
  height: 210px;
  margin-left: 10px;
  margin-right: -10px;
  margin-top: 10px;
  width: 100%;
}


.img4 {
  height: 550px;
  width: auto;
}

.img5 {
  height: 500px;
  width: auto;
}
/*end of image gallery*/

/*start of 3D block*/
.room-container {
  display: none;
  justify-content: center;
  width: auto;
}
/*end of 3D block*/

/*start of map block*/
.map-container {
  display: none;
  justify-content: center;
}

.google-maps2{
  height: auto;
  justify-content: center;
  margin: auto;
}
/*end of map block*/


/*end of cafeen page*/


/*-----------------------------------------------------------------*/


/*start of services page*/
  /*start of styled text*/
  .header-subtext
  {
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 400;
    padding-top: 0;
    text-shadow: 0px 3px 4px #2b2b2b;
  }
  .header-title-text{
    color: #FFFFFF;
    font-family: 'Heebo', sans-serif;
    font-size: 48px;
    font-weight: 700;
    text-shadow: 0px 3px 8px #2b2b2b;
  }

  .services-text-title{
    color: #232929;
    font-family: 'Heebo', sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 25px;
  }

  .text-container{
    color: #232929;
  }
/*end of styled text*/




/*start of services cards*/
@media only screen and (max-width: 1770px) {
  .services-container{
    margin: 0px 300px 50px 300px !important;

  }
}

@media only screen and (max-width: 800px) {
  .services-container{
    margin: 0px 100px 50px 100px !important;

  }
}



.button-container {
 text-align: center;
 padding-bottom: 80px;
 left: 50%;
}

.servicebox {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  box-shadow: 0px 3px 6px #D6D6D6;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-top: 70px;
  margin: 70px 15px 0px 15px;
  padding: 20px;
  width: 240px;

}
.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 100px 50px 100px;
}

/*start of service icons styling*/
.services-icon-a {
  margin-bottom: 25px;
  margin-top: 20px;
}

.services-icon-b {
  margin-bottom: 20px;
  margin-top: 20px;
}

.services-icon-c {
  margin-bottom: 30px;
  margin-top: 20px;
}

.services-icon-d {
  margin-bottom: 21px;
  margin-top: 20px;
}

.services-icon-e {
  margin-bottom: 21px;
  margin-top: 20px;
}
/*end of service icons styling*/

.text-container {
  text-align: center;
  }
/*end of services cards*/
/*end of services page*/


/*-----------------------------------------------------------------*/


/*start of catering page*/
/*start of catering info*/
.catering-info {
  align-items: center;
  background-color: #FFFFFF;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 330px;
  margin-top: 70px;
  padding: 20px;
  text-align: center;
  width: 240px;

}
.arrow-icon {
 margin-top: 12px;
}

.catering-icon {
  height: 80px;
  margin-bottom: 8px;
  margin-top: 20px;
  width: auto;
}

.catering-info-container {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 30px;
  margin-left: 140px;
  margin-right: 140px;
}

.readmore-container {
  text-align: center;
    padding-bottom: 80px;
 }

 .readmore-container a{
   color: #232929;
   text-decoration-line: none;
 }

/*end of catering info*/

/*start of menus*/
.flowers1 {
  height: 650px;
  left: 50%;
  margin-top: 35px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.flowers2 {
  height: 670px;
  left: 30%;
  margin-top: 35px;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

.food1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.food-image-container
  {
  width: 50%;
  height: 700px;
}

.menu1 {
  display: flex;
  flex-direction:row;
  height: 700px;
  width: 100%;
}

.menu-container {
  display: flex;
  flex-direction: column;
}

.menu-icon {
  height: auto;
  width: 33px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.menu-icon2 {
  height: auto;
  width: 33px;
  padding-bottom: 15px;
  padding-top: 15px;
}


.menu-text-container
  {
  height: 700px;
  width: 50%;
  text-align:center;
}

.menu-text-wrapper {
  height: 700px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  transform: translate(25%, -100%);
}

.menu-text-wrapper2 {
  height: 700px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  transform: translate(25%,-102%);
}

.menu-text-wrapper3 {
  height: 700px;
  margin-top: 35px;
  position: absolute;
  text-align: center;
  transform: translate(33.5%, -100%);
}

.menu-top {
  margin-bottom: 20px;
}

/*end of menus*/
/*end of catering page*/


/*-----------------------------------------------------------------*/


/*start of priser page*/
.priser-title{
  text-align: center;
}

.priser-section{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: space-between;
  padding: 60px 140px 100px 140px;
}

/*skræddersyet*/
.skreddersyet{
  background-color: #FFFFFF;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.2);
  height: auto;
  width: auto;
}

.skreddersyet button{
  margin: 0px 80px 50px 80px;
}

.skreddersyet-pakke-box{
  background: linear-gradient(150deg, #F5A351 0%, #E48585 35%, #6E6AE3 100%);
  border-radius: 25px 25px 100px 0px;
  color: #FFFFFF;
  height: 280px;
  padding-top: 30px;
  text-align: center;
  width: 400px;
}

.skreddersyet-pakke-box p{
  padding-bottom: 20px;
}

.skreddersyet-pakke-box span{
  font-size: 22px;
}

.skreddersyet-pakke-service{
  border-radius: 0px 0px 25px 25px;
}

.plus{
  color: #232929;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  padding: 40px 0px 30px 100px;
  float: left;
}

ul.plus li{
  background: url("ikoner/se priser/icon-plus.svg")  no-repeat left top;
  padding-left: 60px;
  margin-bottom: 20px;
}



/*Premade*/
.premade{
  background-color: #FFFFFF;
  border-radius: 25px 25px 25px 25px;
  box-shadow: 0px 4px 10px rgba(0,0,0, 0.2);
  height: auto;
  width: auto;
}

.premade button{
  margin: 0px 80px 50px 80px;
}

.premade h1{
  margin-top: 20px;
}

.premade-pakke-box{
  background: #6E6AE3;
  border-radius: 25px 25px 100px 0px;
  color: #FFFFFF;
  height: 280px;
  padding-top: 30px;
  text-align: center;
  width: 400px;
}

.premade-pakke-box p{
  padding-bottom: 20px;
}

.premade-pakke-box span{
  font-size: 22px;
}

.premade-pakke-service{
  border-radius: 0px 0px 25px 25px;
}

.check{
  color: #232929;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  padding: 40px 0px 0px 100px;
  float: left;
}

ul.check li{
  background: url("ikoner/se priser/icon-check.svg")  no-repeat left top;
  padding-left: 60px;
  margin-bottom: 20px;
}

.cross{
  color: #C4C4C4;
  display: inline-block;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  font-weight: 400;
  list-style: none;
  padding: 0px 0px 30px 100px;
  float: left;
}

ul.cross li{
  background: url("ikoner/se priser/icon-cancel.svg")  no-repeat left top;
  padding-left: 60px;
  margin-bottom: 20px;
}
/*end of priser page*/


/*-----------------------------------------------------------------*/


/*start of Kontakt page*/
/*start of styled text*/
.contact-subtext {
  color: #1D1D1D;
  font-family: 'Heebo', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding-top: 10px;
}

.contact-text{
  color: #FFFFFF;
  font-family: 'Heebo', sans-serif;
  font-size: 32px;
  font-weight: 500;
}
/*end of styled text*/


.contact1{
  display: flex;
  flex-direction: row;
  margin: 50px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  height: 900px;
  justify-content: space-between;
  width: auto;
}

.contact-fields-container {
  margin: 30px;
  text-align: center;
}

.contact-field {
  margin-bottom: 25px;
  text-align: left;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  margin-left: 50px;
  margin-top: 150px;
  /* text-align: center; */
  width: 50%;
}

#send{
  margin-left: 30px;
}

.contact-img  {
  height: 700px;
  object-fit: contain;
  width: auto;
}

.contact-image-container {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 700px;
  margin: 150px 0px 0px 140px;
  width: 50%;
}

.contact-info-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  text-align: center;
}

.contact-icon {
  height: auto;
  width: 50px;
}

.contact-icon2 {
  height: auto;
  width: 50px;
}

.contact-icon3 {
  height: auto;
  width: 45px;
}
.contact-subtitles {
  text-align: center;

}

.contact-text {
  padding-left: 40px;
}

.input-field {
  border: 1px solid #b6b6b6;
  border-radius: 25px;
  height: 45px;
  padding-left: 18px;
  width: 90%;
}

.input-field-message {
  border: 1px solid #b6b6b6;
  border-radius: 25px;
  padding-bottom: 200px;
  padding-left: 18px;
  padding-top: 20px;
  width: 90%;
}


/*start of navbar*/
.nav-contact{
background-color: #FFFFFF;
box-shadow: 0px 0px 16px #D6D6D6;
height: auto;
text-align: right;
width: 100%;
padding: 20px 0px 20px 0px;
}


nav img{
float: left;
height: 60px;
margin-left: 140px;
}

.nav-contact{
font-family: 'Heebo', sans-serif;
font-size: 16px;
font-weight: 700;
list-style: none;
}

.nav-contact li {
display: inline-block;
padding: 0px 20px;
}

.nav-contact li a {
color: #1D1D1D;
text-decoration: none;
transition: all 0.3s ease 0s;
}

.nav-contact li a:hover {
color: #6E6AE3;
}
/*end of navbar*/
/*end of kontakt page*/



/*-----------------------------------------------------------------*/


/*start of error 404 page*/
#error-btn {
  margin-top: 80px;
}

.error-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-left: 140px;
}

#error-img {
  height: auto;
  margin-top: 10%;
  width: 50%;
}

.error-text {
  width: 50%;
  margin-left: 100px;
  margin-top: 100px;
}
/*end of error 404 page*/
